<div class='gallery__item'>
  <a class='gallery__image' href='${largeImageURL}'>
    <img class='' src='${webformatURL}' alt='${tags}' loading='lazy' />
    <div class='gallery__info'>
      <p class='gallery__info--item'>
        <b>Likes</b>${likes}
      </p>
      <p class='gallery__info--item'>
        <b>Views</b>${views}
      </p>
      <p class='gallery__info--item'>
        <b>Comments</b>${comments}
      </p>
      <p class='gallery__info--item'>
        <b>Downloads</b>${downloads}
      </p>
    </div>
  </a>
</div>